
@{
    ViewBag.Title = "demo";
    Layout = "~/Views/Shared/_LayuotDetails.cshtml";
}
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 single_left">
                    <div class="single_image">
                        <ul id="etalage">
                            <li>
                                <a href="optionallink.html">
                                    <img class="etalage_thumb_image" src="~/images/@Model.AnhMinhHoa" />
                                    <img class="etalage_source_image" src="~/images/@Model.AnhMinhHoa" />
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- end product_slider -->
                    <div class="single_right">
                        <h3>hendrerit in vulputate velit </h3>
                        <p class="m_10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
                        <ul class="options">
                            <h4 class="m_12">Select a Size(cm)</h4>
                        </ul>
                        
                        <div class="btn_form">
                            <form>
                                <input type="submit" value="buy now" title="">
                            </form>
                        </div>
                        <div class="social_buttons">
                            <button type="button" class="btn1 btn1-default1 btn1-twitter" onclick="">
                                <i class="icon-twitter"></i> Tweet
                            </button>
                            <button type="button" class="btn1 btn1-default1 btn1-facebook" onclick="">
                                <i class="icon-facebook"></i> Share
                            </button>
                            <button type="button" class="btn1 btn1-default1 btn1-google" onclick="">
                                <i class="icon-google"></i> Google+
                            </button>
                            <button type="button" class="btn1 btn1-default1 btn1-pinterest" onclick="">
                                <i class="icon-pinterest"></i> Pinterest
                            </button>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                
            </div>
            <div class="row">
                <h4 class="m_11">Related Products in the same Category</h4>
                <div class="col-md-4 product1">
                    <img src="~/images/s1.jpg" class="img-responsive" alt="" />
                    <div class="shop_desc">
                        <a href="single.html">
                        </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 product1">
                    <img src="~/images/s2.jpg" class="img-responsive" alt="" />
                    <div class="shop_desc">
                        <a href="single.html">
                        </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/images/s3.jpg" class="img-responsive" alt="" />
                    <div class="shop_desc">
                        <a href="single.html">
                        </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

