
@{
    ViewBag.Title = "GiohangPartial";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<a href="@Url.Action("GioHang", "GioHang")" style="color:white; font-weight:bold; text-decoration:none">
    <img src="~/images/logo.png" /> Giỏ Hàng (@ViewBag.Tongsoluong)
</a>


